<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/CINAR/IdeaProjects/B103TestNGProject/src/test/java/techproed/tests/smoketests">
        <packages>
            <package name="techproed.tests.dataprovider"></package>
            <package name="techproed.tests.smoketests"></package>
        </packages>
    </test>
</suite>